In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix, accuracy_score
import sklearn.metrics  as mentrics

### Importing the Dataset

In [3]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillUp/labs/ML-FinalAssignment/Weather_Data.csv"
df = pd.read_csv(filepath)

In [4]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,W,41,S,SSW,...,92,84,1017.6,1017.4,8,8,20.7,20.9,Yes,Yes
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,W,41,W,E,...,83,73,1017.9,1016.4,7,7,22.4,24.8,Yes,Yes
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,W,41,ESE,ESE,...,88,86,1016.7,1015.6,7,8,23.5,23.0,Yes,Yes
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,W,41,NNE,E,...,83,90,1014.2,1011.8,8,8,21.4,20.9,Yes,Yes
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,W,41,NNE,W,...,88,74,1008.3,1004.8,8,8,22.5,25.5,Yes,Yes

### Data Processing

#### One Hot Encoding - To convert categorical variable to numerical variable

In [5]:
df_sydney_processed = pd.get_dummies(data = df, columns = ['RainToday', 'WindGustDir', 'WindDir9am', 'WindDir3pm'])

In [6]:
df_sydney_processed.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,41,17,20,92,...,0,0,0,0,0,1,0,0,0,0
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,41,9,13,83,...,0,0,0,0,0,0,0,0,0,0
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,41,17,2,88,...,0,0,0,0,0,0,0,0,0,0
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,41,22,20,83,...,0,0,0,0,0,0,0,0,0,0
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,41,11,6,88,...,0,0,0,0,0,0,0,1,0,0

In [7]:
df_sydney_processed.replace(['No', 'Yes'], [0,1], inplace = True)

### Training Data and Test Data

In [8]:
df_sydney_processed.drop('Date', axis = 1, inplace = True)

In [9]:
df_sydney_processed = df_sydney_processed.astype(float)

In [10]:
features = df_sydney_processed.drop(columns = 'RainTomorrow', axis = 1)
Y = df_sydney_processed['RainTomorrow']

### Linear Regression

In [11]:
# Q1) Use the train_test_split function to split the features and Y dataframes with a test_size of 0.2 and 
#     the random_state set to 10

x_train, x_test, y_train, y_test = train_test_split(features, Y, test_size = 0.2, random_state = 10)

print('Train Set:' , x_train.shape, y_train.shape)
print('Train Set:' , x_test.shape, y_test.shape)

Train Set: (2616, 66) (2616,)
Train Set: (655, 66) (655,)

In [12]:
# Q2) Create and train a Linear Regression model called LinearReg using the training data (x_train, y_train)

LinearReg = LinearRegression()
x = np.asanyarray(x_train)
y = np.asanyarray(y_train)
LinearReg.fit (x, y)
# The coefficients
print ('Coefficients: ', LinearReg.coef_)

Coefficients:  [-2.36934171e-02  1.30126722e-02  7.29834513e-04  6.48717815e-03
 -3.51598649e-02  4.23718996e-03  1.82950068e-03  7.89684297e-04
  9.55909163e-04  8.56086738e-03  7.69398838e-03 -9.23985228e-03
 -8.87055336e-03  1.00506153e-02  1.44671142e-02 -3.48675855e-03
 -1.04898853e+10 -1.04898853e+10  7.14886639e+09  7.14886639e+09
  7.14886639e+09  7.14886639e+09  7.14886639e+09  7.14886639e+09
  7.14886639e+09  7.14886639e+09  7.14886639e+09  7.14886639e+09
  7.14886639e+09  7.14886639e+09  7.14886639e+09  7.14886639e+09
  7.14886639e+09  7.14886639e+09 -2.10308944e+10 -2.10308944e+10
 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10
 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10
 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10 -2.10308944e+10
 -2.10308944e+10 -2.10308944e+10 -3.18090902e+09 -3.18090902e+09
 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09
 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09
 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09 -3.18090902e+09
 -3.18090902e+09 -3.18090902e+09]

In [13]:
# Q3) Now use the predict method on the testing data (x_test) and save it to the array predictions

predictions = LinearReg.predict(x_test)
x = np.asanyarray(x_test)
y = np.asanyarray(y_test)
print("Residual sum of squares: , %.2f" % np.mean((predictions - y) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % LinearReg.score(x, y))

Residual sum of squares: , 0.12
Variance score: 0.43

In [14]:
# Q4) Using the predictions and the y_test dataframe calculate the value for each metric using the appropriate function

from sklearn.metrics import r2_score
LinearRegression_MAE = np.mean(np.absolute(predictions - y_test)) # Mean Absolute Error - 
LinearRegression_MSE = np.mean((predictions -y_test)**2) # Mean Squared Error
LinearRegression_R2 = r2_score(y_test, predictions)
print("Mean absolute error: %.2f" % LinearRegression_MAE)
print("Residual sum of squares (MSE): %.2f" % LinearRegression_MSE)
print("R2-score: %.2f" % LinearRegression_R2 )

Mean absolute error: 0.26
Residual sum of squares (MSE): 0.12
R2-score: 0.43

In [15]:
# Q5) Show the MAE, MSE, and R2 in a tabular format using data frame for the linear model

dict = {'error_type':['LinearRegression_MAE','LinearRegression_MSE','LinearRegression_R2'],
        'value':[LinearRegression_MAE,LinearRegression_MSE,LinearRegression_R2]}

from tabulate import tabulate
Report = pd.DataFrame(dict)
print(tabulate(Report, headers = 'keys', tablefmt = 'psql'))

+----+----------------------+----------+
|    | error_type           |    value |
|----+----------------------+----------|
|  0 | LinearRegression_MAE | 0.256318 |
|  1 | LinearRegression_MSE | 0.115721 |
|  2 | LinearRegression_R2  | 0.427131 |
+----+----------------------+----------+

In [16]:
# Q6) Create and train a KNN model called KNN using the training data (x_train, y_train) 
#     with the n_neighbors parameter set to 4

k = 4
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train, y_train)
neigh

KNeighborsClassifier(n_neighbors=4)

In [17]:
# Q7) Now use the predict method on the testing data (x_test) and save it to the array predictions

predictions = neigh.predict(x_test)
predictions[0:5]

array([0., 0., 1., 0., 0.])

In [18]:
# Q8) Using the predictions and the y_test dataframe calculate the value for each metric 
#     using the appropriate function
 
import sklearn.metrics as metrics

KNN_Accuracy_Score = metrics.accuracy_score(y_test, predictions)
KNN_JaccardIndex = metrics.jaccard_score(y_test, predictions)
KNN_F1_Score = metrics.f1_score(y_test, predictions)
KNN_Log_Loss = metrics.log_loss(y_test, predictions)
print("KNN Accuracy Score: ",KNN_Accuracy_Score)
print("KNN_JaccardIndex: ",KNN_JaccardIndex)
print("KNN F1 score : ", KNN_F1_Score)
print("KNN Log Loss : ", KNN_Log_Loss)

KNN Accuracy Score:  0.8183206106870229
KNN_JaccardIndex:  0.4251207729468599
KNN F1 score :  0.5966101694915255
KNN Log Loss :  6.275011880511857

In [19]:
# Q9) Create and train a Decision Tree model called Tree using the training data (x_train, y_train)

Tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 4)
Tree.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [20]:
# Q10) Now use the predict method on the testing data (x_test) and save it to the array predictions

predictions = Tree.predict(x_test)

In [21]:
# Q11) Using the predictions and the y_test dataframe calculate the value for each metric using the appropriate function

Tree_Accuracy_Score = metrics.accuracy_score(y_test, predictions)
Tree_JaccardIndex = metrics.jaccard_score(y_test, predictions)
Tree_F1_Score = metrics.f1_score(y_test, predictions)
Tree_Log_Loss = metrics.log_loss(y_test, predictions)
print("Tree accur_acy score: ", Tree_Accuracy_Score)
print("Tree JaccardIndex : ", Tree_JaccardIndex)
print("Tree_F1_Score : ", Tree_F1_Score)
print("Tree Log Loss : ", Tree_Log_Loss)

Tree accur_acy score:  0.8183206106870229
Tree JaccardIndex :  0.48034934497816595
Tree_F1_Score :  0.6489675516224188
Tree Log Loss :  6.275038737219435

### Logistic Regression

In [22]:
#  Q12) Use the train_test_split function to split the features and Y dataframes 
#       with a test_size of 0.2 and the random_state set to 1

x_train, x_test, y_train, y_test = train_test_split(features, Y, test_size = 0.2, random_state =1)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (2616, 66) (2616,)
Test set: (655, 66) (655,)

In [23]:
#  Q13) Create and train a LogisticRegression model called LR using the training data (x_train, y_train) 
#       with the solver parameter set to liblinear

LR = LogisticRegression(C=0.01, solver='liblinear').fit(x_train,y_train)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [24]:
#  Q14) Now, use the predict method on the testing data (x_test) and save it to the array predictions
    
predictions = LR.predict(x_test)

In [25]:
#  Q15) Using the predictions and the y_test dataframe calculate the value for each metric using the appropriate function.

LR_Accuracy_Score = metrics.accuracy_score(y_test,predictions)
LR_JaccardIndex = metrics.jaccard_score(y_test,predictions)
LR_F1_Score = metrics.f1_score(y_test,predictions)
LR_Log_Loss = metrics.log_loss(y_test, predictions)
print("LR accuracy score: ", LR_Accuracy_Score)
print("LR JaccardIndex : ", LR_JaccardIndex)
print("LR F1 Score : ", LR_F1_Score)
print("LR Log Loss : ", LR_Log_Loss)

LR accuracy score:  0.8274809160305343
LR JaccardIndex :  0.4840182648401826
LR F1 Score :  0.6523076923076923
LR Log Loss :  5.958643233175305

### SVM

In [26]:
#  Q16) Create and train a SVM model called SVM using the training data (x_train, y_train)

SVM = svm.SVC(kernel='linear')
SVM.fit(x_train, y_train)

SVC(kernel='linear')

In [27]:
#  Q17) Now use the predict method on the testing data (x_test) and save it to the array predictions

predictions = SVM.predict(x_test)

In [28]:
#  Q18) Using the predictions and the y_test dataframe calculate the value for each metric using the appropriate function

SVM_Accuracy_Score = metrics.accuracy_score(y_test, predictions)
SVM_JaccardIndex = metrics.jaccard_score(y_test, predictions)
SVM_F1_Score = metrics.f1_score(y_test, predictions)
SVM_Log_Loss = metrics.log_loss(y_test, predictions)
print("SVM accuracy score : ", SVM_Accuracy_Score)
print("SVM jaccardIndex : ", SVM_JaccardIndex)
print("SVM F1_score : ", SVM_F1_Score)
print("SVM Log Loss : ", SVM_Log_Loss)

SVM accuracy score :  0.8320610687022901
SVM jaccardIndex :  0.4954128440366973
SVM F1_score :  0.6625766871165644
SVM Log Loss :  5.800449143431545

### Report

In [29]:
#  Q19) Show the Accuracy,Jaccard Index,F1-Score and LogLoss in a tabular format using data frame for all of the above models

d = {'KNN':[KNN_Accuracy_Score,KNN_JaccardIndex,KNN_F1_Score,KNN_Log_Loss],
     'Tree':[Tree_Accuracy_Score, Tree_JaccardIndex, Tree_F1_Score, Tree_Log_Loss],
     'LR':[LR_Accuracy_Score, LR_JaccardIndex, LR_F1_Score,LR_Log_Loss],
     'SVM':[SVM_Accuracy_Score, SVM_JaccardIndex, SVM_F1_Score, SVM_Log_Loss]}
Report = pd.DataFrame(data=d, index = ['Accuracy','Jaccard Index','F1-Score', 'LogLoss'])
print(tabulate(Report, headers = 'keys', tablefmt = 'psql'))

+---------------+----------+----------+----------+----------+
|               |      KNN |     Tree |       LR |      SVM |
|---------------+----------+----------+----------+----------|
| Accuracy      | 0.818321 | 0.818321 | 0.827481 | 0.832061 |
| Jaccard Index | 0.425121 | 0.480349 | 0.484018 | 0.495413 |
| F1-Score      | 0.59661  | 0.648968 | 0.652308 | 0.662577 |
| LogLoss       | 6.27501  | 6.27504  | 5.95864  | 5.80045  |
+---------------+----------+----------+----------+----------+